body {
  font-family: "Lato", sans-serif;
  background-color: #ffeedd;
}

h1 {
  font-size: 32px;
  font-weight: 900;
  letter-spacing: -1px;
}

#randomh1 {
  color: #e76f51;
}

p {
  color: #97a1b6;
}

/* Buttons */
.button-4 {
  appearance: none;
  background: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.04),
    inset 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #24292e;
  cursor: pointer;
  font: 500 13px/1 system-ui, -apple-system, Segoe UI, Arial, sans-serif;
  padding: 4px 10px;
  transition: background 0.15s ease;
  user-select: none;
}

.button-4:hover {
  background: #ee7d61;
  color: #fff;
  box-shadow: 0 0 0 3px rgba(231, 111, 81, 0.25);
}

.button-4:active {
  background: #edeff2;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.1);
}

.button-4:disabled {
  color: #959da5;
  cursor: not-allowed;
}

.button-4 {
  margin-top: 12px;
  margin-right: 4px;
}


letterTitle {
  margin: 24px;
}